/* Principal */

*{
    padding: 0%;
    margin: 0%;
    font-family: Helvetica;
    color: #FFBDE2;
    box-sizing: border-box;
}

body {
    background-image: url("../img/imagemsite2.jpg") ;
    background-position: center;
    background-size: cover;
}

button {
    background-color: #fbfbfb;
    color: #FFBDE2;
    border: 2px solid #103f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}

button:hover{
    background-color: #FFBDE2;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #103f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* ToDo header */
.ToDo-container {
    max-width: 450px;
    margin: 3rem ;
    background-image: linear-gradient(to top, #28081D,  #27123B,#5A1D47);

    padding: 1.5rem;
}


